.repo {
    //background-color: black;
    //padding:30px;
    width: 100%;
    height: 100%;
    //padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem 0rem 0rem 0rem;
    @include respond(phone) {}
}

.pull {
    flex: 1 1 100%;
    padding: 2%;
    //flex-grow: 1;
    height: auto;
    width: 500px;
    margin: 2%;
}

.item {
    flex: 42%;
    height: auto;
    margin: 2%;
}

.go-corner {
    display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: radial-gradient(circle, #7E57C2 0%, #7E57C2 100%);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    transform: scale(1.5);
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.pull {
    &:before {
        content: "";
        transition: transform 0.45s ease-out !important;
    }
    &:hover:before {
        transform: scale(165) !important;
    }
}

.card {
    display: block;
    position: relative;
    // max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: 0.15s ease-in-out;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: radial-gradient(circle, #7E57C2 0%, #7E57C2 100%);
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.65s ease-out;
    }
    &:hover:before {
        transform: scale(121);
    }
}

.card:hover {
    .pull_contents {
        color: rgb(219, 215, 215);
        font-size: 2rem;
        line-height: 3rem;
        @include respond(phone) {
            font-size: 4rem;
            line-height: 6rem;
        }
    }
    .card_title {
        color: rgb(17, 16, 16);
        //font-size: 3rem;
    }
    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }
    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }
}

.pull_contents {
    color: black;
    font-size: 1.5rem;
    font-family: 'Oregano';
    line-height: 2rem;
    transition: 0.15s ease-in-out;
    word-wrap: break-word;
    @include respond(phone) {
        font-size: 3rem;
        line-height: 5rem;
    }
}

.card_title {
    color: black;
    font-family: 'Oregano', cursive;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    @include respond(phone) {
        font-size: 4rem;
        line-height: 6rem;
    }
}