// .repo {
//     background-color: black;
//     //padding:30px;
//     width: 100%;
//     height: 100%;
//     //padding: 10px;
//     display: grid;
//     grid-template-rows: repeat(4,minmax(150px,min-content));
//     grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
//     // grid-gap: 30px;
//     // display: flex;
//     // flex-direction: row;
//     // justify-content: space-evenly;
//     justify-items: stretch;
//     align-items: center; // default stretch
//     // flex-wrap: wrap;
// }
// .item {
//     padding: 10px;
//     height: auto;
//     background-color: red;
//     // padding: 10px;
//     margin: 30px;
//     font-size: 4rem;  
// }
// .pull {
//     grid-column: 1 / -1;
//     //grid-row: 1/-1;
// }
// .commit {
//     grid-column: 1 / 6;
// }
// .forks {
//      grid-column: 6 / 10;
// }
// .issues {
// grid-column: 1 / 6;
// }
// .labels {
//     grid-column: 6 / 10;
// }
// .languages {
// grid-column: 1 / 6;
// }
// .watchers {
// grid-column: 6 / 10;
// }
// @media (max-width: 768px){
//     .commit {
//     grid-column: 1 / -1;
//     }
//     .forks {
//      grid-column: 1 / -1;
//      grid-row: 10/13;
// }
// }
.repo {
    //background-color: black;
    //padding:30px;
    width: 100%;
    height: 100%;
    //padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // grid-gap: 30px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // justify-items: stretch;
    // align-items: center; // default stretch
    // flex-wrap: wrap;
}

.pull {
    flex: 1 1 100%;
    padding: 2%;
    //flex-grow: 1;
    height: auto;
    width: 500px;
    margin: 2%;
    //  @include respond(phone) {
    //     // width < 900?
    //    height: 1000vw;//1 rem = 8px, 8/16 = 50%
    // }
}

.item {
    flex: 42%;
    height: auto;
    margin: 2%;
}

.go-corner {
    display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    top: 0;
    right: 0;
    background: radial-gradient(circle, #7E57C2 0%, #7E57C2 100%);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    transform: scale(1.5);
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    display: block;
    position: relative;
    // max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: radial-gradient(circle, #7E57C2 0%, #7E57C2 100%);
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.75s ease-out;
    }
    &:hover:before {
        transform: scale(121);
    }
}

.card:hover {
    .pull_contents {
        color: white;
    }
    .card_title {
        color: white;
    }
    p {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.8);
    }
    h3 {
        transition: all 0.3s ease-out;
        color: #ffffff;
    }
}

.pull_contents {
    color: black;
    font-size: 1.5rem;
    font-family: 'Oregano';
}

.card_title {
    color: black;
    font-family: 'Oregano', cursive;
    
    font-size: 2rem;
    margin-bottom: 2rem;
}

// @media (max-width: 768px) {
//     // flex-direction: column;
//     .pull {
//         flex: 1 1 100%;
//         //flex-grow: 1;
//         //background-color: pink;
//         height: 100px;
//         width: 500px;
//         margin: 2%;
//     }
//     .item {
//         //background-color: red;
//         flex: 1 1 100%;
//         height: 100px;
//         margin: 2%;
//     }
//     //     .commit {
//     //     grid-column: 1 / -1;
//     //     }
//     //     .forks {
//     //      grid-column: 1 / -1;
//     //      grid-row: 10/13;
//     // }
// }