/* pages */

.home h3 {
    z-index: 99999;
    font-size: 4rem;
    font-family: 'Patrick Hand', cursive;
    margin-left: 0rem;
    cursor: pointer;
    width: 20rem;
    /* margin-bottom: 30px; */
    transition: 0.2s ease-in-out;
    line-height: 4rem;
    //background-color: blue;
    &:hover {
        color: black;
        transform: scale(0.9);
    }
    // @include respond(big-desktop) {
    //     // width < 900?
    //     font-size: 5rem; //1 rem = 8px, 8/16 = 50%
    //     line-height: 5rem;
    // }
    @include respond(tab-land) {
        // width < 900?
        font-size: 4rem; //1 rem = 8px, 8/16 = 50%
        line-height: 4rem;
    }
    @include respond(phone) {
        // width < 900?
        font-size: 5rem; //1 rem = 8px, 8/16 = 50%
        line-height: 5rem;
    }
}

.home h3::before {
    //background: blue;
    content: '>';
    position: relative;
    top: -2px;
    margin-right: 1rem;
    transform: scale(0.8, 1);
    display: inline;
}

.home.container,
.order.container {
    /* text-align: center; */
    //max-width: 80rem;
    //width: 100%;
    display: flex;
    flex-direction: row;
}

.loader {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 40px auto;
    border-radius: 50%;
    background: #fff;
}