.pull_container {
    margin: 2rem 3rem 0rem 3rem;
    @include respond(tab-land) {
        margin: 2rem 3rem 0rem 4rem;
    }
    @include respond(tab-port) {
        margin: 2rem 3rem 0rem 3rem;
    }
}

.pull_header {
    color: black;
    font-size: 3rem;
    margin: 3rem 0rem 4rem 0rem;
    @include respond(tab-land) {
        font-size: 3.5rem;
        width: 80%;
        line-height: 4rem;
        margin: 4rem 0rem 6rem 0rem;
    }
    @include respond(tab-port) {
        font-size: 2.5rem;
        width: 80%;
        line-height: 3rem;
        margin: 3rem 0rem 5rem 0rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
        width: 100%;
        line-height: 3rem;
        margin: 6rem 0rem 3rem 0rem;
    }
}

.Pull {
    background-color: #9088d4;
    margin-right: 8rem;
    padding: 2rem 5rem 0rem 3rem;
    transition: 0.35s ease-in-out;
    border-radius: 1rem;
    @include respond(tab-port) {
        padding: 2rem 0rem 0rem 3rem;
        margin: 0rem 1rem 0rem 0rem;
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0.5rem 0.5rem 2rem #888888;
    }
    &__text {
        color: black;
        font-size: 1.5rem;
        line-height: 2rem;
        //margin-bottom: 1rem;
        line-height: 3rem;
        transition: 0.25s ease-in-out;
        @include respond(tab-land) {
            font-size: 2rem;
            //margin-bottom: 3rem;
            line-height: 4rem;
        }
        @include respond(tab-port) {
            font-size: 1.7rem;
            //margin-bottom: 3rem;
            line-height: 3rem;
        }
        &>span {
            color: whitesmoke;
        }
    }
}

.title:hover {
    cursor: pointer;
    color: blue;
    transform: scale(1.02);
}

.publish {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    @include respond(tab-land) {
        padding-bottom: 1rem;
        margin-bottom: 4rem;
    }
    @include respond(tab-port) {
        padding-bottom: 2rem;
        margin-bottom: 4rem;
    }
    @include respond(phone) {
        padding-bottom: 2rem;
        margin-bottom: 2.5rem;
    }
}